@model Category

<div class="delete-container">
    <h1>Are you sure you want to delete this category?</h1>

    <div class="product-info">
        <p><strong>ID:</strong> @Model.Id</p>
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Description:</strong> @Model.Description</p>
    </div>

    <form asp-action="Delete" method="post">
        <input asp-for="Id" />
        <button type="submit" class="btn btn-danger" asp-action="Index">Yes, Delete</button>
        <a asp-action="GetById" class="btn btn-secondary">No</a>
    </form>

    <div class="links">
        
        <a asp-action="Index">Get All</a>
        <a asp-action="Create">Create</a>
    </div>
</div>
