@model List<Product>
<h1>Are sure you want to delete this product?</h1>
<button type="submit "><a asp-action="Create">Yes</a></button>
<button class="btn-submit"><a asp-action="Index">No</a></button>
  <a asp-action="Index">Get All</a>
  <a asp-action="GetById">Get By Id All</a>  
  <a asp-action="Create">Create</a>  
  <a asp-action="Update">Update</a>
